{{ form_start(form) }}
<div class="col">
  <div class="row m-2">
    <label for="prenom">Votre nom :</label>
    {{ form_widget(form.nom) }}
  </div>
  <div class="row m-2">
    <label for="prenom">Votre prénom :</label>
    {{ form_widget(form.prenom) }}
  </div>
  <div class="row m-2">
    <label for="prenom">Votre numéro de téléphone :</label>
    {{ form_widget(form.numero) }}
  </div>
  <div class="row m-2">
    <label for="prenom">Votre email:</label>
    {{ form_widget(form.email) }}
  </div>
  <div class="row m-2">
    <label for="prenom">Votre choix de formation :</label>
    {{ form_widget(form.choix) }}
  </div>
  <div class="row m-2">
    {{
      form_widget(form.accepter)
    }}<p><a href="{{ asset('pdf/politique.pdf') }}" class="ml-1" target="blank">la
      politique de confidentialité </a> et les <a href="{{ asset('pdf/CGU.pdf') }}"> conditions d'utilisation .</a></p>
  </div>
</div>
<button class="btn btn-danger ml-4">{{ button_label|default('Envoyer') }}</button>
<br />
<a class="btn btn-info mt-2 mb-2 ml-4" href="{{ path('formation') }}">Voir les formations</a>
{{ form_end(form) }}
