{% extends 'adminbase.html.twig' %}

{% block title %}Choix{% endblock %}

{% block body %}
    <h1>Choix</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ choix.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ choix.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ choix.prenom }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ choix.numero }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ choix.email }}</td>
            </tr>
            <tr>
                <th>Choix</th>
                <td>{{ choix.choix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('choix_index') }}" class="btn btn-info">back to list</a>

    <a href="{{ path('choix_edit', {'id': choix.id}) }}">edit</a>

    {{ include('choix/_delete_form.html.twig') }}
{% endblock %}
