<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>
      {% block title %}
        SCP Formation
      {% endblock %}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
      {# {{ encore_entry_link_tags('app') }} #}
      <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" />
      <link rel="stylesheet"
        href="https://bootswatch.com/4/cyborg/bootstrap.min.css" />
      <link rel="stylesheet" href="{{ asset('css/styleadmin.css') }}" />
    {% endblock %}

    {% block javascripts %}
      {# {{ encore_entry_script_tags('app') }} #}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {% endblock %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="{{ path('home') }}">
        <img src="{{ asset('img/logo.PNG') }}" id="logo" />
      </a>
      <button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active ml-3">
            <a class="nav-link" href="{{ path('home') }}">
              Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active ml-3">
            <a class="nav-link" href="{{ path('choix_index') }}">
              Choix
              <span class="sr-only">(current)</span>
            </a>
          </li>
           <li class="nav-item active ml-3">
            <a class="nav-link" href="{{ path('formation_inscris') }}">
              Formation
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active ml-3">
            <a class="nav-link" href="{{ path('soutien_inscris') }}">
              Soutien
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <ul>
          {# <li class="nav-item"><a class="btn btn-outline-danger" href="{{ path('app_login') }}">Se connecter</a></li> #}
          {% if app.user %}
            <a href="{{ path('app_logout') }}" class="btn btn-danger">
              Se déconnecter
            </a>
          {% else %}
            <a class="btn btn-outline-danger" href="{{ path('app_login') }}">
              Se connecter
            </a>
          {% endif %}
          {# {% if is_granted('ROLE_ADMIN') %}
            <li>
              <a href="{{ path('admin_home') }}">
                <img src="{{asset('img/admin.png')}}" id="logoa">
              </a>
            </li>
          {% endif %} #}
        </ul>
      </div>
    </nav>
    <body>
      {% block body %}

      {% endblock %}
    </body>
  </head>
</html>
